/* /quokk/css/quokk-common.css */
:root {
  --quok-bg:#F2F2F2;
  --quok-bg-sub: #151515;
  --quok-fg: #f5f5f5;
  --quok-fg-muted: #a3a3a3;
  --quok-accent: #f4dd80;
  --quok-border-subtle: rgba(255,255,255,0.08);

  --quok-font-sans: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --quok-font-serif: "Cormorant Garamond", "Times New Roman", serif;

  --quok-header-w: 320px;
  --quok-page-max-w: 1440px;
  --quok-gutter: 32px;

  --quok-transition-fast: 0.2s ease-out;
  --quok-transition-slow: 0.5s ease;
}
a{  text-decoration-line: none!important;}
body.quok-spa,
#quok-wrap.quok-spa-wrap {
  color: var(--quok-fg);
  font-family: var(--quok-font-sans);
  background: rgba(242, 242, 242, 1);
}
body{margin:0!important;}
